@import "../../_globalColor";

.talk-header-title {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.025em;
  color: $titleColor;
}

.talk-cta {
  margin-top: 1.5rem;
}

.dark-mode .talk-header-title {
  color: $textColorDark;
}

.subTitle {
  color: $subTitle;
}

@media (max-width: 768px) {
  .talk-header-title {
    font-size: 30px;
    text-align: center;
  }
  .talk-header-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
